
body {
    flex: 1;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: #b3dff0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    background-color: #8c9aa3;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.header, .play-area {
    width: 60%;
    border-radius: 10px;
    box-shadow: 10px 10px #a9cee8;
}


.header, .play-area-header, .score-header {
    font-size: 40px;
    font-weight: bold;
    
}

.play-area {
    display: flex;
    flex-direction: column;
    background-color: #54a2d2;
    gap: 30px;
    
}

.play-area-header {
    text-align: center;
}

.selections {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    border-width: thick;
    border-color: black;
}
.weapon {
    max-width: 200px;
}
input {
    max-width: 200px;
}

.text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.game-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

}



.game-state-header {
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   text-align: center;
    
}
.game-information {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

span {
    text-align: center;
}

#human-score , #computer-score, #computer-choice {
    font-size: 30px;
    font-weight: bold;
}

.bottom-of-page {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
}

.footer {
    border-radius: 10px;
    text-align: center;
    margin-top: auto;
    font-size: 30px;
    background-color: #54a2d2;

}
